:root {
  font-size: 60%;
  /*controle das medidas rem */
}

* {
  box-sizing: border-box;
}

.bounce {
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
  40% {-webkit-transform: translateY(-30px);}
  60% {-webkit-transform: translateY(-15px);}
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
  40% {-moz-transform: translateY(-30px);}
  60% {-moz-transform: translateY(-15px);}
}

@-o-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
  40% {-o-transform: translateY(-30px);}
  60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}


.typewriter {
  display: inline-block;
}



.shake {
  animation: shake-animation 1s ease infinite;
  transform-origin: 50% 50%;
}
.element {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  background: red;
}
@keyframes shake-animation {
  0% { transform:translate(0,0) }
  10.78571% { transform:translate(5px,0) }
  20.57143% { transform:translate(0,0) }
  30.35714% { transform:translate(5px,0) }
  40.14286% { transform:translate(0,0) }
  50.92857% { transform:translate(5px,0) }
  60.71429% { transform:translate(0,0) }
  100% { transform:translate(0,0) }
}

body {
  margin: auto 0;
  font-family: Amil Typeface;
  font-size: 1rem;
  font-weight: 400;
  color: #0f0d59;
  text-align: left;
  background-color: #fff;
}
p {
  line-height: 1.44em;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


/**************
*****HEADER*****
***************/


.menu-header {
  padding: 15px 0;
  display: flex;
  padding: 40px 0px;
  top: 0;
  left: 0;

  width: 100%;
  z-index: 100;

}

.menu-header .container {
  display: grid;
  grid-template-columns: 30% 50%;
  gap: 15%;
}

.menu-header .container ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0px;
}

.menu-header .container a {
  font-size: 1.8em;
  text-decoration: none;
  color: #0667de;
  font-family: Amil Typeface;
}


.menu-sandwich{
 display: none;
  background: none;
  outline: none;
  border:0;
}

.luz-sob-sombras-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  position: relative;
  z-index: 2
}
.luz-sob-sombras-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  color: #0F0D59;
  height: 245px;
  font-size: 18px;
  padding: 20px 40px 20px 80px;
}

.luz-sob-sombras-item span {
  color:#fff;
  display: block;
  font-size:20px;
}

.luz-sob-sombras-item svg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  max-width: 100%;


}
.luz-sob-sombras-item path {
  fill:#1DADFC;
}

