.img-top-mobile,
.svg-balao-mobile,
.btn-conversa-mobile,
.video-gatilhos-mobile,
.video-mais-ajudam-mobile,
.img-amil-todo-tempo-mobile,
.contact-info-mobile,
.dots-mobile{
  display: none;
}

.video-depoimento-mobile {
  display: none;
}


.btn-conversa-mobile button {
  background: transparent;
  border:none;
}
@media (max-width: 1400px) {
  .banner {
    background-size: contain;
    background-position: bottom center;
  }
  .luz-sob-sombras .paragrafo .titulo {
    width: 609px;
    margin-left: auto;
    padding-bottom: 40px;
    max-width: 100%;
  }
}

@media (max-width: 1025px) {
  .luz-sob-sombras-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    color: #0F0D59;
    height: 245px;
    font-size: 16px;
    padding: 20px 27px 20px 46px;
    text-align: center;
  }
  .flex-comportamento .titulo h2 {
    margin-bottom: 25px;
    font-size: 42px;
  }
  .amil-todo-tempo .flex-todo-tempo img {
    margin-right: 23px;
    width: 30%;
  }
}
@media (max-width: 768px) {
  .auto-observacao .elemento-4 {
    display: none;
  }
  .container {
    width: 80%;
  }
  .busque-ajuda-1,
  .busque-ajuda-3,
  .busque-ajuda-2,
  .borboleta {
    display: none;
  }
  .btn-clique-aqui {
    width: 167px;
    bottom: 0;
  }

  .grid-comeco-de-conversa h2 {
    font-size: 32px;
    padding-top: 40px;
  }
  .luz-sob-sombras {
    height: calc(100vh + 50px);
  }
  .luz-sob-sombras .paragrafo {
    background-position: center -108px;
    padding-top: 6px;
    background-size:400px;
  }

  .luz-sob-sombras .paragrafo h2 {
    font-size: 32px;
  }

  .a-gente-sabe span {
    display: flex;
    font-size: 12px;
    color: #ffffff;
    /* margin-top: 380px; */
    text-align: center;
    justify-content: center;
    position: absolute;
    bottom: 60px;
  }
  .grid-comportamento-outer {
    width: 159px;
    text-align: center;
  }

  .luz-sob-sombras .paragrafo p {
    text-align: left;
  }

  .luz-sob-sombras-list {
    display: block;

    position: relative;
    height:300px;
    overflow: hidden;
  }
  .luz-sob-sombras-item {
    width: 264px;
    flex-shrink: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    padding: 0 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .video-depoimento {
    display: none;
  }
  .video-depoimento-mobile {
    display: block;

  }
  .box-depoimento {
    height: auto;
  }

  .box-depoimento video {
    width: auto;
    height: auto;
    margin:0 auto;
  }

  .img-top-mobile {
    display: block;
    max-width: 100%;
    margin: 0 -15px;

  }
  .grid-comeco-de-conversa .grid-item:last-child .btn-conversa {
    display: none;
  }
  .btn-conversa-mobile {
    margin: 40px 0;
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: center;
  }
  .conversa-img {
    background-size: calc(100% + 100px) auto;
  }
  .img-top-mobile img {
    width: calc(100% + 30px);
  }
  .luz-sob-sombras-list {
    grid-template-columns: 100%;
  }
  .grid-comeco-de-conversa {
    grid-template-columns: 100%;
  }

  .citacao .paragrafo .frase .sd-aspas {
    position: absolute;
    margin: 0;
  }

  .citacao .paragrafo:last-child .frase .sd-aspas {
    position: absolute;
    margin:0;
  }

  .depoimento {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../../images/bg-depoimento.jpg);
    background-attachment: initial;
  }

  .psicologia-gatilho .elemento-3 {
    display: none;
  }
  .flex-amil-funciona {
    flex-wrap: wrap;
  }


  .flex-comportamento .selecione {
    width: 100%;
    height: 593px;
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-position: center;
    background-image: url(../../images/bg-selecione.png);
    max-width: 50%;
    background-size: contain;
    padding: 0 165px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    box-sizing: border-box;
  }

  .gatilho-text {
    padding: 0;
  }
  .banner {
    background:transparent;
  }

  .titulo-banner {
    margin: 0;
    padding: 0;
  }

  .banner .titulo-banner h1 {
    font-size: 44px;
    font-weight: 400;
  }
  .banner .titulo-banner h2 {
    font-size: 26px;
    font-weight: 300;
  }

  .box-linha-do-tempo {
    width: 100%;
    flex-wrap: wrap;
  }
  .barra-progresso {
    max-width: 80%;
  }
  .barra-progresso svg {
    max-width: 100%;
  }
  .ano-2019,
  .ano-2020 {
    flex-wrap: wrap;
    width: 55px;
    font-size:24px;
  }
  .box-linha-do-tempo {
    min-height:  335px;
    padding: 0 15px;
  }
  .box-linha-do-tempo h3 {
    font-size:24px;
  }
  .animation-saude-mental-40 p {
    margin: 0;
  }
  .animation-saude-mental-40 {
    padding-top: 0;
  }
  .ano-2019 svg,
  .ano-2020 svg{
    max-width: 100%;

  }

  .svg-balao {
    display: none;
  }
  .svg-balao-mobile {
    display: block;
  }
  .mapa-saude-mental {
    overflow: hidden;
  }
  #mapa-balao-1 {
    width: 148px;
    height: 100px;
  }
  #mapa-balao2 {
    width:160px;
    height: 104px;
  }
  #mapa-balao-3 {
    width:147px;
    height: 104px;
    bottom: 0;
  }
  .mapa-balao p {
    font-size:16px;
    text-align: left;
    line-height: 18px;
    padding: 10px;
  }


  .depoimento p {
    font-size:32px;
    line-height: 38px;
    padding: 80px 40px;
  }

  .citacao .paragrafo .frase {
    position: relative;
    width: 100%;
    padding: 0 40px;
  }
  .quotes {
    font-size:100px;
  }

  .open-quote {
    margin-top: -58px;
    transform: none;
  }
  .close-quote {
    transform: translateY(43px);
  }

  .citacao .paragrafo .frase svg:first-child {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;

  }
  .citacao .paragrafo .frase .sd-aspas {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;

  }
  .citacao .paragrafo .frase p {
    font-size:24px;
    line-height: 32px;
    margin: 0 !important;
  }

  .citacao .paragrafo:last-child .frase {
    margin: 0;
  }
  .historia svg {
    margin-top: -160px;
    margin-bottom: 60px;
  }

  .historia .container {
    overflow: visible;
  }

  .historia .titulo h2 {
    font-size:32px;
    line-height: 36px;
    padding: 0 40px;

  }
  .historia .titulo {
    margin-top: -396px !important;
  }
  .historia .titulo p {
    font-size: 18px;
    line-height:26px;
    padding: 0 40px;
  }
  .video-gatilhos {
    display: none;
  }
  .video-gatilhos-mobile {
    display: block;
    margin: 0 auto;
  }
  .animated-bg-gatilho {
    display: none;
  }

  .gatilho {
    background: transparent;
    height: auto;
  }
  .gatilho .container {
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
  }
  .gatilho-text {
    display: flex;
    background-size: 568px auto;
    background-repeat: no-repeat;
    background-position: center top;
    height: 509px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    place-items: center;
    justify-content: center;
    padding: 0 53px;
    margin: 0 auto;


  }
  .gatilho-text h2 {
    font-size:32px;
    line-height: 36px;
  }

  .gatilho-text p {
    font-size: 18px;
    line-height: 26px;
    margin: 0 auto;
    width: 260px;
  }
  .panel {
    position: absolute;
  }

  .e-o-que-e h2,
  .afinal h2,
  .e-como h2,
  .identificar h2,
  .nao-ha-motivo h2,
  .sofrer h2{
    font-size:60px;
  }
  .psicologia-gatilho .elemento-1,
  .psicologia-gatilho .elemento-2,
  .psicologia-gatilho .elemento-3{
    display: none;
  }
  .psicologia-gatilho {
    background: url(../../images/ELEMENTO_1.png) -90px 50px no-repeat, url(../../images/ELEMENTO_3.png) calc(100% + 70px) 100% no-repeat #fff;
    background-size: 190px, 280px;
  }
  .psicologia-gatilho p,
  .auto-observacao p{
    font-size:16px;
    line-height: 26px;
    padding: 0 60px;
  }

  .auto-observacao p {
    line-height: 18px;
    padding: 0 30px;
  }



  .auto-observacao {
    background: url(../../images/borboleta.png) -52px 200px no-repeat, url(../../images/ELEMENTO_4.png) calc(100% + 145px) 100% no-repeat #0f0d59;
    background-size: 102px, 320px;
  }

  .busque-ajuda {
    background: url(../../images/busque-ajuda-3.png) calc(100% + 73px) 200px no-repeat, url(../../images/busque-ajuda-2.png) -20px calc(100% - 100px) no-repeat #FFF;
    background-size: 187px, 89px;
  }

  .a-gente-sabe .cards .grid-a-gente-sabe .grid-item {
    max-width: 90%;
    padding: 0 20px;
    min-height: 285px;
  }

  .grid-a-gente-sabe {
    flex-wrap: wrap;
  }

  .a-gente-sabe .cards .grid-a-gente-sabe .grid-item {
    position: absolute;
    height: auto;
    padding-bottom: 30px;
  }

  .a-gente-sabe {
    height: 1449px;
    background-repeat: no-repeat;
    background-color: #0f0d59;
    background-position: center bottom;
    background-image: url(../../images/bg-a-gente-sabe-mobile.png);
  }
  .flex-comportamento .titulo {
    width: 100%;
    max-width: 100%;
  }

  .flex-comportamento .titulo p {
    font-size:18px;

  }

  .flex-comportamento .titulo h2 {
    font-size:32px;
  }


  .dots-round .slick-dots li {
    position: static;
  }
  .dots-round .slick-dots {
    display: flex;
    margin-top: 200px;
  }
  .dots-round {
    display: none;
  }



  .dots-mobile .slick-dots li button {
    border: 0;
    background: #fff;
    color: #461BFF;
    font-size: 30px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.16);
    width: 72px;
    height: 72px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dots-mobile .slick-dots,
  .dots-mobile .slick-track{
    height: 115px;
  }
  .dots-mobile .slick-track li {
    margin-top: 15px;
    outline: none;
  }

  .dots-mobile .slick-dots li.slick-current button {
    color:#FFF;
    background: #00D896;
    text-align: center;
  }

  .flex-comportamento .selecione {
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-position: center center;
    /* background-image: url(../../images/bg-selecione.png); */
    max-width: 100%;
    background-size: 100%;
    padding: 107px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    box-sizing: border-box;
    flex-wrap: wrap;
  }
  .dots-mobile {
    width: 100%;
    display: block;
    height: 115px;
  }

  .mais-ajudam {
    background: #F4F4F4;
    position: relative;
    height: 100vh;
    overflow: hidden;
  }
  .flex-mais-ajudam  {
    grid-template-columns: 1fr;
  }
  .flex-mais-ajudam .sd-column .titulo h2 {
    width: 100%;
    max-width: 100%;
    font-size:32px;
  }
  .flex-mais-ajudam .sd-column .titulo {
    margin:  0;
  }
  .flex-mais-ajudam .sd-column {
    width: 100%;
    margin: 0;
    padding: 50px 20px 0 20px;

  }

  .mais-ajudam .container {
    overflow: visible;
  }
  .dots-mais-ajudam {
    position: absolute;
    bottom: 20px;
    z-index: 3;
    display: flex;
    gap: 0;
  }
  .dots-mais-ajudam-item {

    margin: 0 5px 0 0;
  }
  .amil-funciona .titulo h2 {
    font-size:32px;
    line-height: 36px;
  }
  .video-mais-ajudam {
    display: none;
  }
  .video-mais-ajudam-mobile {
    display: block;
    width: 100%;
    background: #4624FB;
  }
  .amil-funciona .titulo p {
    font-size:18px;
  }

  .amil-funciona .container {
    padding: 0 40px;
  }
  .img-amil-todo-tempo {
    display: none;
  }
  .amil-todo-tempo .flex-todo-tempo .img-amil-todo-tempo-mobile {
    display: block;
    width: 181px;
    margin: 0;
  }
  .download-items {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr;
  }
  .amil-todo-tempo .store {
    flex-direction: column;
  }
  .amil-todo-tempo .store img {
    width: 142px;
    max-width: 100%;
    margin: 0 0 20px 0!important;
  }
  .title-contato {
    margin: 0;
    padding: 0;
    font-size:30px;
    line-height: 34px;
  }
  .text-plan {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-top: 30px;
  }
  .contact p {
    font-size:16px;
    line-height: 22px;
    text-align: left;
  }
  .contact-info {
    display: none;
  }
  .contact form .fieldset {
    flex-wrap: wrap;
  }
  .contact form .fieldset .field {
    width: 100%;
  }
  .contact-info-mobile {
    display: block;
  }

  .contact .contact-info p:first-child:before {
    display: none;
  }
  .contact .contact-info p span {
    width: 100%;
    text-align: left;
  }
  .contact .contact-info .phone:before {
    display: none;
  }
  .contact .contact-info .phone {
    padding: 0;
    position: static;
    line-height: 52px;
    margin: 0;
  }
  .contact .contact-info .extra-info {
    float:none;
  }
  .amil-todo-tempo .flex-todo-tempo h2 {
    font-size:32px;
  }

  .flex-todo-tempo .titulo {
    max-width: 100%;
  }


  .success-modal .modal-content {
    background: #fff;
    border-radius: 1px;
    max-width: 100%;
    max-height: 275px;
    width: 81%;
    height: 614px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .luz-sob-sombras .paragrafo .titulo {
    padding-bottom: 0;
  }

  .box-depoimento {
    height: auto;
    padding: 15px;
  }

  .video-full {
    background: url(../../images/bg-video-mobile.jpg) center center;
    background-size: cover;
    margin: 0px 0;
    min-height: 350px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}
@media (max-width: 640px) {
  .container {
    width: 92%;
  }
}

@media (max-width: 520px) {
  .container {
    width: 100%;
  }
}

@media (max-height: 768px) {
  .flex-mais-ajudam .sd-column .titulo {
    margin: 0;
  }

  .dots-mais-ajudam {
    bottom: 10px;
  }
}