/*Saude Mental*/

.bg-grey {
  background-color: #f4f4f4;
}
/*.first-paragraph {

  position: absolute;
  width: 100%;
  left: 0;
}
.first-paragraph span {
  display: inline-block;
}

.second-paragraph span {
  display: inline-block;
}*/
.bg-blue {
  background-color: #461bff;
}

.col-section {
  margin: 113px 0px;
}

.col-bottom {
  padding-bottom: 130px;
}

.btn-clique-aqui {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 250;
  width: 240px;
  height: auto;
  bottom: 0;
}

h2 {
  font-size: 6em;
  line-height: 1;
  font-weight: 600;
  color: #461bff;
}

.saude-mental {
  width: 100%;
  background-color: #ffffff;
}

.banner {
  height: calc(100vh - 160px);
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-position: top center;
  background-image: url("../../images/ILUSTRA.png");
  background-size: 100% auto;
}

.saude-mental .bounce{
  margin: auto;
  margin-bottom: -30px;
  cursor: pointer;
}

.titulo-banner {
  width: 45%;
  line-height: 0.7;
  padding-top: 100px;
}

.banner .titulo-banner h1 {
  margin: auto 0;
  font-size: 8em;
  line-height: 1.4;
  margin-left: 0px;
  color: #461bff;
  font-weight: 400;
  position: relative;
}

.banner .titulo-banner h2 {
  margin: auto 0;
  line-height: 1;
  color: #0f0d59;
  font-weight: 300;
  font-size: 4.4em;
}

.clique-aqui {
  display: grid;
  justify-content: center;
  cursor: pointer;
}


.box-depoimento {
  width: 100%;
  height: 253px;
  margin-top: 150px;
  border-radius: 15px;
  overflow: hidden;
  background: #F4F4F4;
}

.box-depoimento  video {
  width: calc(100% + 20px);
  height: auto;
  margin-left:-10px;

}

.box-depoimento p {
  color: #838383;
  font-size: 2.2em;
  text-align: center;
}

.box-depoimento p:first-child {
  padding-top: 50px;
}

.box-depoimento p strong {
  color: #461bff;
}
/*END - Saude Mental*/

/*comeco-de-conversa*/

.grid-comeco-de-conversa {
  display: grid;
  align-items: center;
  grid-template-columns: 40% 60%;
}

.conversa-img {
  display: flex;
  height: 590px;
  max-width: 100%;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-image: url("../../images/comeco-conversa.png");
  position: relative;
}

.grid-comeco-de-conversa .grid-item:first-child {
  width: 370px;
  max-width: 100%;
}

.grid-comeco-de-conversa .grid-item:first-child p {
  margin: 0px;
  font-size: 2em;
  text-align: left;
  color: #0f0d59;
}

.grid-comeco-de-conversa .grid-item:last-child .grid-conversa-msg {
  z-index: 1;
  width: 420px;
  margin: 0 auto;

  margin-top: 45px;
  max-width: 100%;

}

.grid-comeco-de-conversa .grid-item:last-child .grid-conversa-msg p {
  font-size: 1.6em;
  text-align: center;
}

.grid-comeco-de-conversa .grid-item:last-child .btn-conversa {
  width: 565px;
  display: flex;
  position: absolute;
  justify-content: space-between;
  max-width: 100%;
  top:50%;
  left:50%;
  transform: translate(-50%,0);
}

.grid-comeco-de-conversa .grid-item:last-child .btn-conversa button {
  border: none;
  background-color: transparent;
}

.grid-comeco-de-conversa .grid-item:last-child .btn-conversa button:hover,
button:focus {
  cursor: pointer;
  outline-offset: 0px;
  outline: thin dotted;
  outline: 0px auto -webkit-focus-ring-color;
}
/*END - comeco-de-conversa*/

/*luz-sob-sombras*/

.luz-sob-sombras .paragrafo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: url(../../images/luminaria.png) -120px top no-repeat;
}

.luz-sob-sombras .paragrafo .titulo {
  width: 765px;
  margin-left: auto;
  padding-bottom: 40px;
  max-width: 100%;
}

.luz-sob-sombras .paragrafo h2 {
  margin: 142px 0px 15px 0px;
}

.luz-sob-sombras .paragrafo p {
  font-size: 2em;
  color: #0f0d59;
}

.luz-sob-sombras .paragrafo img {
  margin-left: -100px;
  max-width: 100%;
}
.luz-sob-sombras {
  height: 100vh;
}


.grid-luz-sob-sombras .grid-item {
  height: 219px;
}

.grid-luz-sob-sombras .slick-slide img {
  margin: auto;
}

.luz-sob-sombras .btn-conversa {
  width: 1430px;
  display: flex;
  margin-top: -135px;
  margin-left: -75px;
  position: absolute;
  justify-content: space-between;
}

.luz-sob-sombras .btn-conversa button {
  border: none;
  background-color: transparent;
}

.luz-sob-sombras .btn-conversa button:hover,
button:focus {
  cursor: pointer;
  outline-offset: 0px;
  outline: thin dotted;
  outline: 0px auto -webkit-focus-ring-color;
}

/*END luz-sob-sombras*/

/*no-brasil*/
.no-brasil .titulo {
  width: 725px;
  margin: auto;
  text-align: center;
}

.no-brasil .titulo p {
  font-size: 2em;
  color: #0f0d59;
  text-align: center;
}

.no-brasil .mapa-saude-mental {
  margin: 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.mapa-saude-mental img {
  max-width: 100%;
}
.mapa-balao {
  position: absolute;
  z-index: 10;
  color:#fff;
  display: flex;

  justify-content: center;
  align-items: center;
  height: 72px;
  width: 450px;
}
.mapa-balao span.number {
  color:#FFBE00;
}
.mapa-balao p {
  font-size:20px;
  margin: 0;
}
.mapa-balao svg {
  position: absolute;
  top:0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

#mapa-balao-1 {
  top: 15%;
  left: 10%;
  padding-right: 36px;
  width: 390px;
}

#mapa-balao2 {
  right: 0;
  top: 40%;
  padding-right: 0;
  padding-left: 36px;
}

#mapa-balao-3 {
  width: 421px;
  padding-right: 36px;
  bottom: 30%;
  transform: translateX(-45%);
}

.box-linha-do-tempo {
  margin: auto;
  height: 288px;
  width: 1030px;
  max-width: 100%;
  display: block;
  border-radius: 20px;
  background-color: #f4f4f4;
}

.box-linha-do-tempo h3 {
  font-size: 3em;
  color: #461bff;
  padding-top: 53px;
  text-align: center;
  font-weight: 600;
}

.box-linha-do-tempo img {
  margin: auto;
  display: block;
}
.animation-saude-mental-40 {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 40px;
  padding-top: 30px;
}

.ano-2019,
.ano-2020 {
  font-size: 40px;
  color:#00ADFF;
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-items: center;
}

.barra-progresso {
  width: 244px;
  position: relative;
}

.barra-progresso .pin {
  position: absolute;
  font-size: 30px;
  color:#461BFF;
  text-align: center;
  transform: translateX(-50%);
  left: 0;
  transition: all 0.5s linear;
}
.barra-progresso .pin.moved {

  left: 100%;


}


/*END - no-brasil*/

/*depoimento*/
.depoimento {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../images/bg-depoimento.jpg") ;
  background-attachment: fixed;


}

.depoimento p {
  margin: auto;
  max-width: 890px;
  font-size: 4em;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
}

/*End depoimento*/

/*citacao*/
.citacao {
  overflow: hidden;
}
.citacao .paragrafo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

}

.citacao .paragrafo .frase {
  margin-top: 50px;
  position: relative;
}

.citacao .paragrafo .frase p {
  margin: 0px;
  line-height: 1.2;
  font-size: 3.8em;
  color: #838383;
  margin-right: 50px;
}

.citacao .paragrafo .frase .sd-line {
  margin-bottom: 50px;
  text-align: right;
}

.citacao .paragrafo .frase svg:first-child {
  position: absolute;
  margin: -46px 0px 0px -65px;
}

.citacao .paragrafo .frase .sd-aspas {
  position: absolute;
  margin: -115px 0px 0px 475px;
}

.citacao .paragrafo .frase span {
  font-size: 20px;
  color: #0f0d26;
  text-align: left;
}

.citacao h2 {
  text-align: center;
}

.citacao .paragrafo:last-child {
  flex-direction: row-reverse;
}

.citacao .paragrafo:last-child .frase {
  margin-left: 65px;
}

.citacao .paragrafo:last-child .frase p {
  margin-right: 0px;
}

.citacao .paragrafo:last-child .frase svg:first-child {
  position: absolute;
  margin: -60px 0px 0px -65px;
}

.citacao .paragrafo:last-child .frase .sd-aspas {
  position: absolute;
  margin: -105px 0px 0px 475px;
}

.citacao img {
  max-width: 100%;
}
/*END citacao*/

/*Historia*/
.historia {
  padding-bottom: 60px;
}
.historia .titulo {
  left: 0;
  right: 0;
  margin: auto;
  width: 990px;
  max-width: 100%;
  text-align: center;
  position: absolute;
  margin-top: -330px !important;
}

.historia .titulo h2 {
  font-size: 6em;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 20px;
}

.historia .titulo p {
  font-size: 2em;
  color: #ffffff;
}

.historia svg {
  width: 100%;
  margin: auto;
  margin-top: -80px;
  z-index: 0;
  position: relative;
}

.historia .video-wrap {
  display: flex;
  overflow: hidden;
  justify-content: center;
  padding-bottom: 80px;
}

.historia .video-wrap iframe {
  border-radius: 20px;
  background-color: #d5d5d5;
  position: relative;
  z-index: 2;
}

.historia .historia-gatilho p {
  margin: auto;
  max-width: 940px;
  font-size: 2.4em;
  color: #ffffff;
  text-align: center;
}

.historia .historia-gatilho h3 {
  font-size: 7em;
  font-weight: 900;
  color: #ffffff;
  text-align: center;
  padding-bottom: 100px;
}

/* END Historia*/

/*Gatilho*/
.gatilho {
  display: flex;
  height: 890px;
  align-items: center;
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-position: center;
  position: relative;
  z-index: 10;
  overflow: hidden;

  background:url(../../images/bg-gatilho.jpg);
  background-position: 0;
  animation: run 25s infinite linear forwards;
}
.gatilho-text {
  background: url('../../images/bg-text-gatilho.png');
  width: 962px;
  height: 863px;
  padding: 250px 250px 0 250px;
  text-align: center;
  margin: 0 auto;
}
.video-gatilhos {
  margin: 0 auto;
  display: block;
  max-width: 100%;
}

@keyframes run {
  0% { background-position: 0%}
  100%{ background-position : 2522px;}

}



.gatilho .titulo p {
  margin-top: 24px;
  font-size: 2em;
  color: #0f0d59;
}

/* END gatilho*/

/*e-o-que-e*/
.e-o-que-e {
  display: flex;
  height: 910px;
  align-items: center;
  background-color: #f9f9f9;
}

.e-o-que-e h2 {
  font-size: 15em;
  color: #461bff;
  text-align: center;
}

/*end e-o-que-e*/

/*afinal*/
.afinal {
  display: flex;
  height: 910px;
  align-items: center;
  background-color: #461bff;
}

.afinal h2 {
  font-size: 15em;
  color: #ffffff;
  text-align: center;
}

/*end afinal*/

/*psicologia gatilhos*/
.psicologia-gatilho {
  height: 910px;
  display: flex;
  align-items: center;
  background:#fff;

}

.psicologia-gatilho p {
  margin: auto;
  max-width: 680px;
  font-size: 2.4em;
  color: #0f0d59;
  text-align: center;
  line-height: 2;
}

.psicologia-gatilho .elemento-1 {
  position: absolute;
  margin: -349px 0px 0px -216px;
}

.psicologia-gatilho .elemento-2 {
  position: absolute;
  margin: 67px 0px 0px 50px;
}

.psicologia-gatilho .elemento-3 {
  position: absolute;
  margin: -166px 10px 0px 915px;
}

/*end psicologia gatilhos*/

/*e-como*/
.e-como {
  display: flex;
  height: 910px;
  align-items: center;
  background-color: #0f0d59;
}

.e-como h2 {
  font-size: 15em;
  color: #ffffff;
  text-align: center;
}

/*end e-como*/

/*identificar*/
.identificar {
  display: flex;
  height: 910px;
  align-items: center;
  background-color: #ffffff;
}

.identificar h2 {
  font-size: 15em;
  color: #0f0d59;
  text-align: center;
}
/*end identificar*/

/*auto-observacao*/
.auto-observacao {
  display: flex;
  height: 910px;
  align-items: center;
  background-color: #0f0d59;
}

.auto-observacao p {
  margin: auto;
  max-width: 1090px;
  font-size: 2em;
  line-height: 2;
  color: #ffffff;
  text-align: center;
}

.auto-observacao strong {
  color: #ffbe00;
}

.auto-observacao .borboleta {
  position: absolute;
  margin: -197px 0px 0px -178px;
}

.auto-observacao .elemento-4 {
  position: absolute;
  margin: -41px 0px 0px 1065px;
}

/*end auto-observacao*/

/*e nao ha motivo*/

.nao-ha-motivo {
  display: flex;
  height: 910px;
  align-items: center;
  background-color: #f9f9f9;
}

.nao-ha-motivo h2 {
  font-size: 15em;
  color: #461bff;
  text-align: center;
}

/*end nao-ha-motivo*/

/*sofrer*/
.sofrer {
  display: flex;
  height: 910px;
  align-items: center;
  background-color: #461bff;
}

.sofrer h2 {
  font-size: 15em;
  color: #ffffff;
  text-align: center;
}

/*end sofrer*/

/*busque ajuda*/

.busque-ajuda {
  display: flex;
  height: 910px;
  align-items: center;
  background: #fff;
}

.busque-ajuda .titulo {
  text-align: center;
}

.busque-ajuda .titulo p {
  max-width: 900px;
  margin: auto;
  font-size: 2.4em;
  color: #0f0d59;
}

.busque-ajuda .titulo h2 {
  font-size: 4em;
  cursor: pointer;
  font-weight: 600;
  color: #0f0d59;
  margin-top: 45px;
}

.busque-ajuda .busque-ajuda-1 {
  position: absolute;
  margin: -259px 0px 0px -182px;
}

.busque-ajuda .busque-ajuda-2 {
  position: absolute;
  margin: 68px 0px 0px 948px;
}

.busque-ajuda .busque-ajuda-3 {
  position: absolute;
  margin: -340px 0px 0px 900px;
}
/* End busque ajuda*/

.panel {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  margin: 0;
  overflow:hidden;
}

#pin-blocks {
  width: 100%;
  height: 100vh;
  overflow: hidden;

}
/*a-gente-sabe*/

.a-gente-sabe {
  height: 1010px;
  background-repeat: no-repeat;
  background-color: #0f0d59;
  background-position: center;
  background-image: url("../../images/bg-a-gente-sabe.png");
}

.a-gente-sabe h2,
.a-gente-sabe p,
.a-gente-sabe span {
  text-align: center;
}

.a-gente-sabe .titulo {
  padding-top: 78px;
  margin-bottom: 32px;
}

.a-gente-sabe .titulo h2 {
  color: #ffffff;
}

.quotes {
  font-size:200px;
  color:#00ADFF;
  position: absolute;
}

.open-quote {
  top: 0;
  left: 0;
  transform: translate(-73px, -113px);
}
.close-quote {
  bottom: 0;
  right: 0;
  transform: translatey(107px);
}

.a-gente-sabe .titulo p {
  margin: auto;
  max-width: 720px;
  font-size: 2em;
  color: #ffbe00;
}

.a-gente-sabe p {
  margin: auto;
  font-size: 2em;
  color: #ffffff;
}
.a-gente-sabe .cards .grid-a-gente-sabe {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  position: relative;
}

.a-gente-sabe .cards .grid-a-gente-sabe .grid-item {
  width: 596px;
  height: 240px;
  position: absolute;
  border-radius: 20px;
  background-color: #ffffff;
  max-width: 100%;
  padding: 0 20px;
  top: 0;

}

.a-gente-sabe .cards .grid-a-gente-sabe .grid-item h3 {
  margin: auto;

  font-size: 2em;
  color: #838383;
  text-align: left;
  margin-top: 50px;
}

.a-gente-sabe .cards .grid-a-gente-sabe .grid-item p {

  font-size: 1.6em;
  color: #838383;
  text-align: left;
  margin-top: 15px;
}

.a-gente-sabe .cards .grid-a-gente-sabe .grid-item:nth-child(1) {
  z-index: 10;
  margin-top: 50px;
}

.a-gente-sabe .cards .grid-a-gente-sabe .grid-item:nth-child(1) h3 {
  color: #4624fb;
}


.a-gente-sabe .cards .grid-a-gente-sabe .grid-item:nth-child(1) p {
  color: #838383;
}

.a-gente-sabe .cards .grid-a-gente-sabe .grid-item:nth-child(2) {
  z-index: 9;
  margin-top: 40px;
  background-color: #00d896;
}

.a-gente-sabe .cards .grid-a-gente-sabe .grid-item:nth-child(2) h3 {
  color: #ffffff;
}

.a-gente-sabe .cards .grid-a-gente-sabe .grid-item:nth-child(2) p {
  color: #0f0d59;
}

.a-gente-sabe .cards .grid-a-gente-sabe .grid-item:nth-child(3) {
  z-index: 8;
  margin-top: 30px;
  background-color: #ffbe00;
}

.a-gente-sabe .cards .grid-a-gente-sabe .grid-item:nth-child(3) h3 {
  color: #4624fb;
}

.a-gente-sabe .cards .grid-a-gente-sabe .grid-item:nth-child(3) p {
  color: #0f0d59;
}

.a-gente-sabe .cards .grid-a-gente-sabe .grid-item:nth-child(4) {
  z-index: 7;
  margin-top:20px;
  background-color: #00adff;
}

.a-gente-sabe .cards .grid-a-gente-sabe .grid-item:nth-child(4) h3 {
  color: #0f0d59;
}

.a-gente-sabe .cards .grid-a-gente-sabe .grid-item:nth-child(4) p {
  color: #ffffff;
}

.a-gente-sabe .cards .grid-a-gente-sabe .grid-item:nth-child(5) {
  z-index: 6;
  margin-top: 10px;
  background-color: #461bff;
}

.a-gente-sabe .cards .grid-a-gente-sabe .grid-item:nth-child(5) h3 {
  color: #ffbe00;
}

.a-gente-sabe .cards .grid-a-gente-sabe .grid-item:nth-child(5) p {
  color: #ffffff;
}

.a-gente-sabe span {
  display: flex;
  font-size: 12px;
  color: #ffffff;
  margin-top: 380px;
  text-align: center;
  justify-content: center;
}

/*end a-gente-sabe*/

/*comportamento*/
.flex-comportamento {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.flex-comportamento .titulo {
  flex-shrink: 1;
  width: 674px;
  max-width: 48%;

}
.flex-comportamento .titulo h2 {
  margin-bottom: 25px;
}

.flex-comportamento .titulo p {
  font-size: 2em;
  color: #0f0d59;
  text-align: left;
  margin-bottom: 50px;
}

.flex-comportamento .titulo span {
  font-size: 1.2em;
  color: #838383;
}

.flex-comportamento .selecione p {
  font-size: 1.8em;
  color: #838383;
  margin-top: -50px;
}


.flex-comportamento .selecione {
  width: 683px;
  height: 593px;
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-position: center;
  background-image: url("../../images/bg-selecione.png");
  max-width: 50%;
  background-size: contain;
  padding:  0 230px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.grid-comportamento-outer {
  width: 190px;
  text-align: center;
}
/*end comportamento*/

/*mais ajudam*/
.mais-ajudam {
  background: #F4F4F4;
}
.video-mais-ajudam {
  background: #4624FB;
  max-width: 100%;
}
.flex-mais-ajudam {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  min-height:100vh;
}

.mais-ajudam .container {
  max-width: 100%;
  padding: 0;
}

.flex-mais-ajudam img {
  overflow: hidden;
  object-fit: cover;
  width:100%;
  height: 100%;
}

.flex-mais-ajudam .sd-column {

  padding-top: 50px;


}

.flex-mais-ajudam .sd-column .titulo {
  margin-bottom: 140px;
}

.flex-mais-ajudam .sd-column .titulo h2 {
  max-width: 370px;
}

.flex-mais-ajudam .sd-column .titulo p {
  max-width: 425px;
  font-size: 2em;
  color: #0f0d59;
  text-align: left;
}

.flex-mais-ajudam .sd-column .grid-item h3 {
  font-size: 4em;
  color: #0f0d59;
}

.flex-mais-ajudam .sd-column .grid-item p {
  font-size: 1.6em;
  color: #838383;
  text-align: left;
}

.flex-mais-ajudam .slick-active button {
  display: none;
}

.flex-mais-ajudam .slick-dots button {
  display: none;
}

.flex-mais-ajudam .slick-dots .slick-active {
  list-style-image: url("../../images/cicle-full.png") !important;
}

.flex-mais-ajudam .slick-dots li {
  list-style-image: url("../../images/cicle-empty.png");
}
.grid-mais-ajudam {
  position: relative;
}
.dots-mais-ajudam {
  position: absolute;
  bottom: 50px;
  z-index: 3;
}
.dots-mais-ajudam-item {
   width: 16px;
   height: 16px;
   border:1px solid #0F0D59;
  border-radius: 50%;
  margin: 5px 20px 0 20px;

}

.dots-mais-ajudam-item.active {
    background:#0F0D59;
}

.grid-mais-ajudam .grid-item {
  position: absolute;
  background:#F4F4F4 ;
  padding: 10px 0;
  max-width: 90%;
  z-index: 4;
}
/*end mais ajudam*/

/*amil-funciona*/
.amil-funciona .titulo {
  margin: auto;
  width: 925px;
  max-width: 100%;
}

.amil-funciona .titulo h2 {
  text-align: center;
  margin-bottom: 28px;

}

.amil-funciona .titulo p {
  font-size: 2em;
  color: #0f0d59;
  text-align: center;
}

.amil-funciona svg{
  margin:auto;
  width: 100%;
}

.flex-amil-funciona{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.flex-amil-funciona p{
  text-align: left;
  font-size: 1.6em;
  color: #ffffff;
  padding: 54px 40px;
  border-radius: 20px;
  background-color: #00adff;
}

.flex-amil-funciona strong{
  color: #0f0d59;
}

.nth-2{
  flex-direction: row-reverse !important;
}

.nth-2 p{
  color: #ffffff !important;
  background-color: #00d896 !important;
}

.nth-3{
  flex-direction: row !important;
}

.nth-3 p{
  color: #ffffff !important;
  background-color: #0f0d59;
}

.nth-3 strong{
  color: #febe2c !important;
}

.nth-4{
  flex-direction: row-reverse !important;
}

.nth-4 p{
  color: #0f0d59 !important;
  background-color: #febe2c !important;
}

.nth-5{
  flex-direction: row !important;
}

.nth-5 p{
  margin-left: 24px;
  margin-top: 25px !important;
  color: #ffffff !important;
  background-color: #461bff !important;
}

.nth-5 strong{
  color: #febe2c !important;
}

/*end amil-funciona*/

/*amil-todo-tempo*/

.amil-todo-tempo{
  padding: 113px 0px;
  background-color: #f4f4f4;
}

.amil-todo-tempo .flex-todo-tempo{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.flex-todo-tempo .titulo {
  max-width: 67%;
  flex-shrink: 1;
}

.amil-todo-tempo .flex-todo-tempo img{
  margin-right: 35px;

}

.amil-todo-tempo .flex-todo-tempo h2{

  margin-bottom: 15px;
}

.amil-todo-tempo .flex-todo-tempo p{

  text-align: left;
  font-size: 1.6em;
  color: #838383;
  margin-bottom: 40px;
}

.amil-todo-tempo .flex-todo-tempo span{
  text-align: left;
  font-size: 1.6em;
  color: #0f0d59;
}

.amil-todo-tempo .store{
  display: flex;
  margin-top: 25px;
}

.amil-todo-tempo .store img:first-child{
  margin-right: 25px;

}

/*footer*/

.site-footer {
  background: #0f0d59;
  color: #ffffff;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 70px;
}

.logos-social a {
  padding: 30px 0;
  text-decoration: none;
}

.logos-social p {
  margin-bottom: 5px;
  margin-top: 0;
  font-size: 1.4em;
  font-family: Amil Typeface;
}

.logos-social a {
  margin: 20px;
}

.link-politica {
  color: #00adff;
}

/*END footer*/

@media (max-width: 1199px) {
  .banner .titulo-banner p {
    padding-right: 14%;
  }
}

@media (max-width: 991px) {
  .banner .titulo-banner p {
    padding-right: 0%;
  }
  .titulo-banner {
    width: 34%;
  }
}

@media (max-width: 768px) {
  .titulo-banner {
    width: 46%;
  }
}

@media (max-width: 767px) {
  .titulo-banner {
    width: 100%;
  }
}

.slick-slider {
  margin: 0 -15px;
}

.slide-slide {
  display: flex;
  justify-content: space-between;
}

.inner-positividade {
  background: #f4f4f4;
  border-radius: 30px;
  padding: 89px 0;
}

/*CONTATO */
.title-section {
  font-weight: 400;
  margin: 20px 0;
}

.select2-container {
  box-sizing: border-box;
  display: block;
  margin: 0;
  position: relative;
  vertical-align: middle;
}

.select2-hidden-acessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.field-checkbox label:before {
  content: "";
  display: inline-block;
  margin-right: 10px;
  border: 1px solid #cecece;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  border-radius: 4px;
}

.field-checkbox input[type="checkbox"] {
  display: none;
}
.field-checkbox input[type="checkbox"]:checked ~ label:before {
  background-color: #fff;
  box-shadow: inset 0 0 0 3px #461bff;
}
.field-checkbox {
  text-align: right;
  font: normal normal 21px/21px "Amil Typeface", sans-serif;
  color: #fff;
}
.contact form .btn-all:focus {
  outline: none;
}

.field-checkbox label {
  cursor: pointer;
}

.contact form .btn-all:focus {
  outline: none;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.contact .contact-info a {
  text-decoration: none;
}

.contact .contact-info p {
  max-width: 610px;
}

.contact .contact-info .extra-info {
  font-size: 10px !important;
}

.title-contato {
  font-size: 5em;
  color: #fff;
  line-height: 1.2em;
  padding-right: 90px;
  font-family: Amil Typeface;
}

.text-plan {
  padding-right: 30%;
  font-size: 1.8em;
}

.placeholder {
  display: block;
  cursor: not-allowed;
  background: 0 0 !important;
}

.placeholder *,
.placeholder:after {
  display: none !important;
}

.placeholder:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.66;
  background-size: cover !important;
}

.btn-all {
  display: block;
  width: 250px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 19px;
  color: #fff;
  border-radius: 27.5px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  border: 0;
}

.contrate-button {
  display: flex;
  background: #ffbe00;
  border-radius: 29px;
  height: 45px;
  width: 200px;
  color: #fff;
  font-size: 1em;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: 700;
  margin: 5px 12px;
}
.button-fixed a:hover {
  color: #fff;
  text-decoration: none;
  cursor: pointer !important;
}

.button-fixed-center {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  bottom: 30px;
  z-index: 10;
  flex-wrap: wrap;
}
.button-fixed-center a:first-child {
  background: #462ffb;
}

.button-fixed {
  display: flex;
  justify-content: center;
}

.contact {
  display: block;
  width: 100%;
  position: relative;
  padding: 100px 0;
  background-color: #00adff;
}

.contact h1 {
  color: #fff;
  font-size: 80px;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 21px;
  margin-top: -19.2px;
}

.contact p {
  line-height: 1.3;
  color: #fff;
  font-family: Amil Typeface;
}

.contact .contact-info {
  font-size: 25px;
  color: #fff;
  font-weight: 300;
}

.contact .contact-info p {
  color: #fff;
  position: relative;
}

.contact .contact-info p span:not(.extra-info) {
  width: 221px;
  display: inline-block;
}

.contact .contact-info p span:not(.extra-info).double-line {
  vertical-align: middle;
  display: inline-block;
  padding-top: 35px;
  padding-bottom: 15px;
  line-height: 1;
}

.contact .contact-info p span:not(.extra-info).double-line + .phone {
  vertical-align: middle;
}

.contact .contact-info p:first-child {
  color: #fff;
  padding-bottom: 10px;
  width: auto;
}

.contact .contact-info p:first-child:before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 4px;
  width: 60px;
  background: #fff;
}

.contact .contact-info .phone {
  font-size: 42px;
  display: inline-block;
  color: #fff;
  padding-left: 73px;
  position: relative;
  top: 7.5px;
  font-weight: 700;
  margin-left: 19.2px;
  pointer-events: none;
}

.contact .contact-info .phone:before {
  content: "";
  display: block;
  width: 49px;
  height: 49px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url(../../images/icon-contact-white.png) center no-repeat;
  background-size: contain;
}

.contact .contact-info .extra-info {
  width: auto;
  font-size: 18px;
  float: right;
}

.contact form {
  display: block;
  text-align: right;
  padding-bottom: 86.5px;
}

.contact form #formfeedback {
  left: 0;
  text-align: left;
  width: 230px;
}

.contact form .btn-all {
  background: #461bff;
  color: #fff;
  margin: 0;
  font-weight: 700;
  bottom: 23px;
  right: 0;
  cursor: pointer;
  font-size: 1.6em;
}

.contact form .btn-all.sending {
  opacity: 0.5;
  pointer-events: none;
}

.contact form .fieldset {
  display: flex;
}
.contact form .fieldset div {
  width: 100%;
  margin: 10px;
  text-align: left;
}

.contact form .field {
  position: relative;
}
.contact form fieldset .field input {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #fff;
  color: #a6a6a6;
  line-height: 48px;
  height: 48px;
  text-indent: 20px;
  font-size: 16px;
  font-family: "Amil Typeface";
  font-weight: 400;
  border-radius: 7px;
  outline: 0;
}

.div-btn {
  display: flex;
  justify-content: flex-end;
}

.contact form fieldset .field i {
  opacity: 0;
  top: 50%;
  -webkit-transform: translateY(-50%) scale(0);
  -ms-transform: translateY(-50%) scale(0);
  transform: translateY(-50%) scale(0);
  right: 20px;
  font-size: 30px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  position: absolute;
}

.contact form fieldset .field.error input {
  border-color: #b20909;
}

.contact form fieldset .field.error .fa-times {
  opacity: 1;
  color: #b20909;
  -webkit-transform: translateY(-50%) scale(1);
  -ms-transform: translateY(-50%) scale(1);
  transform: translateY(-50%) scale(1);
  right: 26px;
}

.contact form fieldset .field.success input {
  border-color: #09b214;
}

.contact form fieldset .field.success .fa-check {
  opacity: 1;
  color: #09b214;
  -webkit-transform: translateY(-50%) scale(1);
  -ms-transform: translateY(-50%) scale(1);
  transform: translateY(-50%) scale(1);
}

.contact.placeholder:before {

  background-size: cover;
}

.contact-info {
  margin-top: 40px;
}

.select2-container {
  width: 100% !important;
}
.contact p,
.contact select {
  text-align: left;

}
.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 7px;
  font-size: 16px;
  height: 48px;
}

.error .select2-container--default .select2-selection--single {
  border-color: #b20909;
}

.success .select2-container--default .select2-selection--single {
  border-color: #09b214;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  color: #666;
  line-height: 48px;
  font-size: 16px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 20px;
  font-size: 16px;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  height: 48px;
  top: 0;
}

.select2-results {
  text-align: left;
  color: #322d17;
}

.select2-search--dropdown {
  display: none !important;
}

.select2-results__option {
  padding: 8px 19px;
  color: #322d17;
}

.success-modal {
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 99999;
}

.success-modal .modal-content {
  background: #fff;
  border-radius: 1px;
  max-width: 800px;
  max-height: 275px;
  width: 40vw;
  height: 20vw;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.success-modal .modal-content .content-wrapper {
  -ms-flex-item-align: center;
  align-self: center;
}

.success-modal .modal-content .content-wrapper h3 {
  color: #03da97;
  font-size: 40px;
  font-weight: 300;
}

.success-modal .modal-content .content-wrapper p {
  color: #818181;
  font-size: 20px;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 40px;
}

.success-modal .modal-content .content-wrapper .btn-all {
  background: #451dff;
  max-width: 120px;
  margin: 0 auto;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: #fff;
  font-size: 26px;
}

.success-modal .modal-content .content-wrapper .btn-all:hover {
  background-color: #2900e9;
}

.success-modal .modal-content .close-button {
  position: absolute;
  top: -30px;
  right: -30px;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  cursor: pointer;
}

.select2-container {
  width: auto !important;
  top: auto;
  left: auto;
}

.select2-container--default .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
  font-size: 1.5em;
  font-weight: 400;
  text-align: center;
}

.select2-container--open .select2-dropdown--below {
  border-radius: 0 0 20px 20px;
}

.checkbox-text {
  font-size: 18px;
  font-family: Amil Typeface;
  line-height: 1.2em;
}

.marg-footer {
  margin: 20px 0px;
}

.selecione {
  position: relative;
}

.dots-round .slick-dots li{
  position: absolute;
  list-style-type: none;
  top: 70px;
  left: 0;
  border: 0;
  cursor: pointer;

}

.dots-round .slick-dots li button {
  border: 0;
  background: #fff;
  color:#461BFF;
  font-size:30px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,0.16);
  width: 72px;
  height: 72px;
  cursor: pointer;
}

.dots-round .slick-dots li.slick-active button {

  color:#FFF;
  background: #00D896;
}



.dots-round .slick-dots li:nth-child(1){
  left:46%;
  transform: translateX(-50%);
}

.dots-round .slick-dots li:nth-child(2){
  top: 20%;
  left:70%;
  transform: translateX(-50%);
}

.dots-round .slick-dots li:nth-child(3){
  top: 37%;
  left:75%;
  transform: translateX(-50%);
}

.dots-round .slick-dots li:nth-child(4){
  top: 52%;
  left:75%;
  transform: translateX(-50%);
}

.dots-round .slick-dots li:nth-child(5){
  top: 68%;
  left:65%;
  transform: translateX(-50%);
}

.dots-round .slick-dots li:nth-child(6){
  top: 73%;
  left:46%;
  transform: translateX(-50%);
}


.dots-round .slick-dots li:nth-child(7){
  top: 68%;
  left:29%;
  transform: translateX(-50%);
}



.dots-round .slick-dots li:nth-child(8){
  top: 52%;
  left:19%;
  transform: translateX(-50%);
}
.dots-round .slick-dots li:nth-child(9){
  top: 37%;
  left:19%;
  transform: translateX(-50%);
}

.dots-round .slick-dots li:nth-child(10){
  top: 20%;
  left:29%;
  transform: translateX(-50%);
}


.titulo {
  max-width: 100%;
}

/*FIM CONTATO */

.video-full {
  background: url(../../images/bg-video.png) center center no-repeat;
  margin: 100px 0;
  min-height: 478px;
  padding: 60px 0;

}

.video-home {
  max-width: 100%;
  height: auto;
  width: 644px;
  border-radius: 20px;
  outline: 0;
}

.video-outer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 0;
}